<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.backend.member.MemberMapper">
    <insert id="insertMember" parameterType="com.kh.backend.member.Member"> INSERT INTO member (id,
        pw, name, phone, email, birth, gender) VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email},
        #{birth}, #{gender}) </insert>
    <select id="findById" parameterType="String" resultType="com.kh.backend.member.Member"> SELECT
        pw FROM member WHERE id = #{id} </select>
</mapper>