<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.backend.member.MemberMapper">
    <insert id="insertMember" parameterType="com.kh.backend.member.Member"> INSERT INTO member (id,
        pw, name, phone, email, birth, gender) VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email},
        #{birth}, #{gender}) </insert>

    <select id="findById" parameterType="String" resultType="com.kh.backend.member.Member"> SELECT
        no, pw FROM member WHERE id = #{id} </select>

    <select id="findByEmail" parameterType="String" resultType="com.kh.backend.member.Member">
        SELECT * FROM member WHERE email = #{email} </select>

    <select id="findByPhone" parameterType="String" resultType="com.kh.backend.member.Member">
        SELECT * FROM member WHERE phone = #{phone} </select>

    <select id="findByIdAndPhone" parameterType="map" resultType="com.kh.backend.member.Member">
        SELECT * FROM member WHERE id = #{id} AND phone = #{phone} </select>

    <select id="findIdByPhone" parameterType="String" resultType="String"> SELECT id FROM member
        WHERE trim(phone) = #{phone} </select>

    <update id="resetPw"> UPDATE member SET pw = #{pw} WHERE id = #{id} </update>

    <select id="getAllMembers" resultType="map"> SELECT * FROM ( SELECT m.*, ROWNUM rnum FROM (
        SELECT no, id, name, phone, email, birth, gender, reg_date FROM member <if
            test="f != null and q != null"> WHERE ${f} LIKE '%' || #{q} || '%' </if>
        ORDER BY no ) m WHERE ROWNUM &lt;= #{end} ) WHERE rnum >= #{start} </select>

    <select id="getTotalMemberCount" resultType="int"> SELECT COUNT(*) FROM member <if
            test="f != null and q != null"> WHERE ${f} LIKE '%' || #{q} || '%' </if>
    </select>

    <update id="resetPassword"> UPDATE member SET pw =
        '$2a$10$v6N1KZmqox/VYBcmvLMzie359WZ1.3PQ0f8aJOtghk0Od0gdwGSDu' WHERE no = #{no} </update>

    <update id="updateMember" parameterType="com.kh.backend.member.Member"> UPDATE member SET name =
        #{name}, phone = #{phone}, email = #{email}, birth = #{birth}, gender = #{gender} WHERE no =
        #{no} </update>

    <delete id="deleteMember"> DELETE FROM member WHERE no = #{no} </delete>
</mapper>