<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.backend.notice.NoticeMapper">
    <select id="getNotice" resultType="map">
        <![CDATA[
            SELECT no, title, content, reg_date FROM ( SELECT no, title, content, reg_date,
        ROWNUM rnum FROM ( SELECT no, title, content, reg_date FROM notice ORDER BY reg_date DESC )
        WHERE ROWNUM <= #{end} ) WHERE rnum>= #{start}
        ]]>
    </select>
</mapper>