<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.backend.refund.RefundMapper">
    <select id="getAllRefunds" resultType="map"> SELECT * FROM ( SELECT m.*, ROWNUM rnum FROM (
        SELECT no, office_no, member_no, name, phone, payment, price, refund_amount, start_date, end_date,
        booking_date, reg_date FROM refund <if
            test="f != null and q != null"> WHERE ${f} LIKE '%' || #{q} || '%' </if> ORDER BY no ) m
        WHERE ROWNUM &lt;= #{end} ) WHERE rnum >= #{start} </select>

    <select id="getTotalRefundCount" resultType="int"> SELECT COUNT(*) FROM refund <if
            test="f != null and q != null"> WHERE ${f} LIKE '%' || #{q} || '%' </if>
    </select>

    <select id="getRefundsByManagerNo" resultType="map">
        SELECT 
            r.no AS refundNo,
            o.title AS officeTitle,
            r.name AS memberName,
            r.phone AS memberPhone,
            r.price AS price,
            r.refund_amount AS refundAmount,
            r.payment AS payment,
            r.booking_date AS bookingDate,
            r.reg_date AS refundDate
        FROM 
            refund r
            JOIN office o ON r.office_no = o.no
        WHERE 
            o.manager_no = #{no}
        ORDER BY 
            r.reg_date DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getRefundsCountByManagerNo" resultType="int">
        SELECT 
            COUNT(*) 
        FROM 
            refund r
            JOIN office o ON r.office_no = o.no
        WHERE 
            o.manager_no = #{no}
    </select>

</mapper>