.admin-sidebar {
    background: #fff;

    ul {
        list-style-type: none;
        padding: 10px;
        margin: 0;
    }

    li {
        padding: 10px;
        cursor: pointer;
        margin: 10px 0;
    }

    li:not(.active):hover {
        transition: 0.3s;
        background-color: #999999;
        border-radius: 5px;
    }

    li.active {
        background-color: #474747;
        color: #fff;
        border-radius: 5px;
    }
}