# Spring Boot 프로젝트 폴더명: backend

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!backend/src/main/**/build/
!backend/src/test/**/build/

# VS Code
.vscode/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

# General
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.sass-cache/
*.idea/

# OS-specific files
.DS_Store
Thumbs.db

# ============================================================================

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# ============================================================================

application-secrets.properties
office24-user.sql