.member-footer {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--shaded-color);
    background-color: var(--shaded-light-color);
    color: var(--shaded-dark-color);
    padding: 48px 0;
    font-family: 'Arial', sans-serif;
    width: 100%;

    .footer-content {
        display: flex;
        justify-content: space-around;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 24px;
    }

    .footer-section {
        flex: 1;
        margin-right: 24px;
    }

    .footer-section h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 12px;
        cursor: pointer;
    }

    .footer-section ul li a {
        text-decoration: none;
        font-size: 14px;
        transition: color 0.2s ease;
    }

    .footer-bottom {
        border-top: 1px solid var(--shaded-color);
        margin-top: 48px;
        padding-top: 24px;
        text-align: center;
    }

    .footer-bottom p {
        font-size: 14px;
    }

    .footer-bottom a {
        text-decoration: none;
        transition: color 0.2s ease;
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        .footer-content {
            flex-direction: column;
        }

        .footer-section {
            margin-right: 0;
            margin-bottom: 32px;
        }
    }
}
