.header-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    height: 80px;
    width: 100%;
    z-index: 1000;

    .search-container {
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        box-shadow: 1px 5px 4px var(--shaded-color);
        transition: all 0.3s ease;
        z-index: -1;
        height: 80px;
    }

    @media (max-width: 1000px) {
        .search-container {
            top: 80px;
        }
    }

    .search-container.expanded {
        top: 80px;
        height: fit-content;
    }

    .search-bar-wrapper {
        display: flex;
        justify-content: center;
    }

    .search-bar {
        display: flex;
        align-items: center;
        width: 300px;
        padding: 10px 20px;
        border-radius: 40px;
        border: 1px solid var(--shaded-color);
        transition: all 0.3s ease;
        background-color: var(--background-color);
        position: relative;
        height: 26px;
        margin: 15px;
        cursor: pointer;
    }


    .search-bar.expanded {
        width: 850px;
        max-width: 95%;
        padding: 0px;
        height: 66px;
        margin: 0 0 20px 0;
    }


    .search-bar:hover {
        box-shadow: var(--shaded-light-color) 0px 3px 2px;
    }

    .search-placeholder {
        flex-grow: 1;
        font-size: 16px;
        color: var(--shaded-dark-color);
        transition: all 0.3s ease;
    }

    .search-inputs {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        transition: all 0.3s ease;
        z-index: 2000px;

        label {
            font-size: 12px;
        }
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        padding: 14px 20px 14px 20px;
        border-radius: 40px;

        * {
            height: 18px;
        }
    }

    .input-wrapper:hover {
        background-color: var(--shaded-light-color);
    }

    .search-input-wrapper {
        padding-left: 30px;
        width: 40%;
    }

    .check-day-input-wrapper {
        width: 20%;
    }

    .attendance-input-wrapper {
        width: 40%;

    }

    .search-input {
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
        color: var(--primary-color);
    }


    .search-button {
        position: absolute;
        right: 10px;
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 500;
        height: 30px;
        width: 30px;
        transition: height 0.3s ease, width 0.3s ease;
    }

    .search-button.expanded {
        height: 48px;
        width: 108px;
    }

    .search-button:hover {
        background-color: var(--secondary-color);
    }

    .search-button-text {
        display: none;
        opacity: 0;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 2s ease;
    }

    .search-button.expanded .search-button-text {
        display: block;
        opacity: 1;
        width: auto;
        transition: all 2s ease;
    }

    .search-button-content {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all 0.3s ease;
    }

    .search-icon-wrapper {
        width: 20px;
        height: 20px;
    }

    .search-icon {
        background-image: url(src/assets/searchicon5252.png);
    }

    .search-options {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        max-width: 850px;
        padding: 0;
    }

    .search-options.expanded {
        max-height: 200px;
        opacity: 1;
        padding: 20px 0;
    }

    .search-options-section {
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 20px;
        box-sizing: border-box;
        width: 1000px;
        max-width: 90%;
        margin: auto;
    }

    .attendance-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        span {
            color: var(--shaded-dark-color);
            font-size: 13px !important;
        }
    }

    .attendance-button {
        width: 30px;
        height: 30px;
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        color: var(--primary-color);
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    .attendance-button.disabled {
        border-color: var(--shaded-color);
        color: var(--shaded-color);
        cursor: not-allowed;
    }

    .attendance-counter span {
        font-size: 18px;
        min-width: 30px;
        text-align: center;
    }

    .fixed-logo-wrapper {
        position: fixed;
        top: 10px;
        left: 15px;
        z-index: 1001;
        font-size: 50px;
        color: var(--primary-color);
        cursor: pointer;
    }

    .fixed-menu-wrapper {
        position: fixed;
        top: 14px;
        right: 50px;
        width: 86px;
        height: 48px;
        z-index: 1001;
        border-radius: 30px;
        border: solid 1px var(--shaded-color);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 0 5px;
        cursor: pointer;
    }

    .nav-to-button {
        padding: 4px;
        border-radius: 30px;
        border: solid 1px var(--primary-color);
        margin: 5px;
    }

    .menu-icon {
        background-image: url(src/assets/hambug.png);
    }

    .profile-img-wrapper {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: var(--shaded-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--shaded-light-color);
        position: relative;
    }

    .fixed-menu-wrapper:hover {
        box-shadow: var(--shaded-light-color) 0px 3px 2px;
    }

    /* todo dropdowns */
    .profile-dropdown {
        position: fixed;
        top: 70px;
        right: 50px;
        background-color: var(--background-color);
        border: 1px solid var(--shaded-color);
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        min-width: 150px;
        z-index: 1002;
    }

    .profile-img-wrapper:hover .profile-dropdown {
        opacity: 1;
        visibility: visible;
    }

    .dropdown-option {
        padding: 10px;
        cursor: pointer;
    }

    .dropdown-option:hover {
        background-color: var(--shaded-color);
    }

    .dropdown-divider {
        border-top: 1px solid var(--shaded-color);
        margin: 5px 0;
    }

    .profile-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%);
        width: 110%;
        height: 110%;
        object-fit: cover;
        border: 0;
        border-radius: 50%;
    }

    .menu-icon-wrapper {
        width: 17px;
        height: 17px;
    }

    .icon {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .display-none {
        display: none;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .search-option-popup {
        max-width: 90vw;
        width: 800px;
        margin: auto;
    }

    .recommendation-options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    .recommendation-option {
        padding: 5px 10px 5px 10px;
        border: solid 1px var(--secondary-color);
        color: var(--secondary-color);
        border-radius: 30px;
        margin: 5px;
    }

    .recommendation-option:hover {
        background-color: var(--shaded-color);
        border: solid 1px var(--primary-color);
        color: var(--primary-color);
    }

    .attendance-options-sections {
        padding-bottom: 20px;
    }

    .location-option {
        padding: 5px 10px 5px 10px;
        border: solid 1px var(--secondary-color);
        color: var(--secondary-color);
        border-radius: 30px;
        margin: 5px;
    }

    .location-option:hover {
        background-color: var(--shaded-color);
        border: solid 1px var(--primary-color);
        color: var(--primary-color);
    }



}