/* for list
.office-item-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
}
*/

.office-item {
    font-family: 'GimhaeGayaR';

    flex: 0 0 calc(100% / 6 - 20px);
    width: calc(100% / 6 - 20px);
    max-width: 45%;
    min-width: 200px;
    height: auto;
    box-sizing: border-box;
    position: relative;

    .office-item-image-box {
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
    }

    .office-item-like-on-image {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        z-index: 100px;
    }

    .office-item-top {
        margin: 5px;
        display: flex;
        width: 100%;
        height: fit-content;
    }

    .office-item-top-left {
        width: 70%;
        display: flex;
        align-items: center;
    }

    .office-item-top-left h1 {
        color: #565656;
        font-size: 1rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
    }

    .office-item-top-right {
        width: 30%;
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 0.75rem;
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    b {
        font-size: 0.77rem;
        color: #565656;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .office-item-middle {
        position: relative;
        margin: 5px;
    }

    .office-item-bottom {
        margin: 5px;
    }

    .icon-wrap-small {
        width: 17px;
        height: 17px;
    }

    .icon {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .img100100 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        z-index: -10;
    }

    .star-icon {
        background-image: url(src/assets/star.png);
    }

    .heart-icon {
        background-image: url(src/assets/favorite-light.png);
    }

    .heart-icon-filed {
        background-image: url(src/assets/favorite-fill.png);
    }

    .office-item-rating-values {
        margin-left: 5px;
        display: flex;
        flex-direction: row;
    }

    .office-item-rating-values p {
        font-size: 0.7rem;
    }

}

svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .office-item {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 900px) {
    .office-item {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 600px) {
    .office-item {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 420px) {
    .office-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.office-item-list.map-opened {
    .office-item {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}