.header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 800;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.header-search {
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.search-result-view {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.search-result-view .product-view {
  width: 50%;
  background-color: white;
  border: 1px solid black;
  height: 90vh;
  overflow-y: scroll;
}

.search-result-view .map-view {
  width: 50%;
  background-color: white;
  border: 1px solid black;
  max-height: 90vh;
  overflow-y: scroll;
}

.office-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.office-item {
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}