.admin-notice-header {
    display: flex;
    align-items: center;

    .admin-notice-button {
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #999;
        border: none;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .admin-notice-button:hover {
        background-color: #474747;
        transition: 0.3s;
    }
}