.managerLogin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

.managerLogin-container .log-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}

.managerLogin-container .logo {
  font-size: 40px;
  font-weight: bold;
  color: #6363d2;
  margin-bottom: 20px;
}

.managerLogin-container .login-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.managerLogin-container .login-tabs div {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.managerLogin-container .login-tabs div.active {
  width: 200px;
  border-bottom: 1px solid #6363d2;
  font-weight: bold;
  margin-bottom: 20px;
}

.managerLogin-container .login-form {
  display: flex;
  flex-direction: column;
}

.managerLogin-container .login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.managerLogin-container .login-form input::placeholder {
  font-size: 12px; 
}

.managerLogin-container .login-btn {
  background-color: #6363d2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.managerLogin-container .login-options {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.managerLogin-container .login-options button {
  color: #6363d2;
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
