.header,
.container,
.footer {
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
    text-align: center;
}

.container {
    height: 900px;
}


/* jungwoo shin: modify as needed */
.main-container {
    max-width: 1800px;
    margin: auto;
}

.office-item-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
}